html {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin-top: 5%;
}

@media screen and (max-device-width: 1023px){
    .tile.is-child{
        margin-left: 2% !important;
    }
}

